body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
}

.download-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.download-btn:hover {
  background-color: #0056b3;
}


.section-title {
  color: #0056b3; /* Deep blue for main titles */
  font-size: 20px;
  margin-bottom: 15px;
}

.sub-section-title {
  color: #007bff; /* Slightly lighter blue for sub-sections */
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bullet-point {
  list-style-type: none;
  padding: 0;
}

.bullet-point li {
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

.bullet-point li::before {
  content: '•';
  color: #007bff; /* Blue bullet points */
  position: absolute;
  left: 0;
}

.content-text {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 4px solid #007bff; /* Blue border on the left of text blocks */
}

.header-banner {
  background-color: #0056b3; /* Adjust the background color as needed */
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 150px; /* Adjust as needed */
  height: 150px;
  border-radius: 50%;
  margin-right: 20px; /* Creates space between image and text */
  object-fit: cover;
}

.header-details {
  display: inline-block;
  text-align: left;
}

.header-title h1, .header-subtitle {
  margin: 0; /* Removes default margin */
}

.header-subtitle a {
  color: white; /* Adjust the link color to suit the banner */
  text-decoration: none;
}

.header-subtitle a:hover {
  text-decoration: underline;
}



/* Responsive Design for smaller screens */
@media screen and (max-width: 768px) {
  body {
      padding: 15px;
  }

  .section-title, .sub-section-title {
      font-size: 18px;
  }
}
